html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

.search-form {
  text-align: center;
  padding: 20px 0;  
}

.search-input {
  font-size: 50px;
}

.gallery {
  list-style: none;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.gallery > li {
  width: 30%;
}

.photo-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-card > img {
  max-width: 100%;
  height: 300px;
  cursor: pointer;
}

.stats {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.arrow-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}